<% @comments.each do |message| %>
  <!--<li>-->
   <div class="article_content col-sm-8">

 	<!--<%= message.name %><br>-->
 	 <!--<div class="row">-->
   <!--  <div class="col-sm-8">-->
        <%= simple_format(message.content) %>
   </div>
<% end %>
