
<% @events.each do |event| %>
   <div class="article_content col-sm-8">
 	   <div class="row">
       <div class="col-sm-8">
      <%= link_to event.name, event_path(event) %><br>
      <p><%= event.description %></p>
       </div>  
      </div>
    </div>
<% end %>
